*{
    margin: 0%;
    padding: 0%;
}
nav ul{
    display: flex;
    background-color: blueviolet;
}
nav li{
    list-style: none;
    margin-right: 30px;
    padding: 10px;
}

nav li a{
    text-decoration: none;
    font-size: 30px; /* font size basi kore */
    font-weight: 700;/* font ka mota kore */
    color: aliceblue;
}
nav li:hover{
    /* mouse jokon text er upor newa hobe tokon background color chenge hobe */
    background-color: rgba(20, 20, 20, 0.993);
    /* border: 3px solid rgba(230, 226, 226, 0.329); */
}